<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="/javascripts/main.js"></script>
</head>

<body>
    <div class="login-photo">
        <div class="form-container">
            <div class="image-holder"></div>
            <form method="post">
                <h2 class="text-center"><strong>ĐĂNG NHẬP</strong></h2>
                <div class="form-group"><input class="form-control" name="username" id="username" placeholder="Tên đăng nhập" value="<%= username %>" /></div>
                <div class="form-group"><input class="form-control" type="password" id="password" name="password" placeholder="Mật khẩu" /></div>
                <div class="form-group">
                    <input type="checkbox" id="nhotaikhoan" name="nhotaikhoan" value="nhotaikhoan">
                    <label for="nhotaikhoan"> Nhớ tài khoản</label><br>
                </div>
                <% if(locals.errMessage){ %>
                    <div class="alert alert-danger text-center">
                        <%= errMessage%>
                    </div>
                <% } %>

                <div class="form-group">
                    <button class="btn btn-primary btn-block" >Đăng nhập</button>
                </div>
                <hr>
                <div class="form-group">
                    <a id="btn-gg" class="btn btn-outline-dark" href="/auth/google" style="text-transform:none">
                        <img alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" /> Đăng nhập email sinh viên
                    </a>
                </div>
            </form>
        </div>
    </div>

</body>

</html>